{% extends 'bases.html' %}
{% load static %}
{% block link %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}  
{% block content %} 
    <div class="login-body">
    <div class="container" id="container">
        <div class="form-container sign-in-container">
            <form method="POST" action=""> 
                <h1>Sign in</h1>
                {% csrf_token %}
                <input type="text" placeholder="Email" name="email">
                <input type="password" placeholder="Password" name="password" >
                <button type ="submit" value="submit">Sign In</button>
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-right">
                    <div class="topright"><img src="{% static 'img/maccha logo.png' %}"></div>
                    <h1>Welcome</h1>
                    <p>Sign in to procceed to your cashier system</p>
                    <a href='/account/register'><button class="ghost" id="signUp">New to Maccha</button></a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 
