<div class="bigcontainer">
    <h1 class='login'>Login</h1>
        <form method="POST" action=""> 
            {% csrf_token %}
            <div class="form-group">
                <div class="col">
                    <input type="text" class="form-control" placeholder="Email" name="email"><br>
                </div>
                <div class="col">
                    <input type="password" class="form-control" placeholder="Password" name="password"><br>
                </div>
            </div>
            <input type ="submit" class="button" id="button1" value="Submit">
            <input type="reset" class="button" id="button2" value="Cancel" href="/">
        </form>
</div>