{% extends 'bases.html' %}
{% load static %}
{% block link %}
<link rel="stylesheet" href="{% static 'css/menu_list.css' %}">
{% endblock %}  
{%block content%}

<div class="shoppingCart">
  <h2>Transaction History</h2>
  <ul class="responsive-table">
    <li class="table-header">
      <div class="col col-1" onclick="sortTable(0)">name</div>
      <div class="col col-4">Quantity</div>
    </li>
    {% for key,val in menu_items.items %}
    <li class="table-row">
        <div class="col col-1">{{key}}</div>
        <div class="col col-1">{{val}}</div>

    </li>
    {% endfor %}
  </ul>

  <ul class="responsive-table">
    <li class="table-header">
      <div class="col col-1">
        <button class="btn btn-warning">
          <a href="{% url 'sales:sale_history' %}">Back</a>
        </button>
    </li>
  </ul>

{% endblock content %}