@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
body {
    margin: 0;
    background: #f6f5f7;
	background-image: url('/static/img/maccha_bg.jpg');
    background-repeat: no-repeat;
    background-size:cover;
	

}

#navbar {
    font-family: 'Montserrat', sans-serif;
    border: 0px;
}
.nav-right{
    float: right;
}
#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  #navbar  li {
    float: left;
  }
  
  #navbar  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  #navbar li a:hover {
    background-color: #111;
  }

  .content {
    padding: 16px;
  }
  
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .sticky + .content {
    padding-top: 60px;
  }