{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>Maccha</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  {% block link %}

  {% endblock %} 
</head>

<body>
  
  <div  id="navbar">
  <ul>
    <li><a class="active" href="/">Home</a></li>
    {% if user.is_authenticated %}
    <li><a href="../../account/profile">Edit Profile</a></li>
    <li><a href="../../menu/">Menu</a></li>
    <li><a href="../../cashier/">Cashier</a></li>
    <div class="nav-right">
      <li><a href="../../account/logout">Logout</a></li>
    </div>
    {% else %}
    <div class="nav-right">
      <li><a href="../account/login">Login</a></li>
    </div>
    {% endif %}
  </ul>
</div>
<div class="content">
{% block content %}

{% endblock %} 
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script>
  window.onscroll = function() {myFunction()};
  
  var navbar = document.getElementById("navbar");
  var sticky = navbar.offsetTop;
  
  function myFunction() {
    if (window.pageYOffset >= sticky) {
      navbar.classList.add("sticky")
    } else {
      navbar.classList.remove("sticky");
    }
  }
  </script>
</body>

</html>