{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>Maccha</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  {% block link %}

  {% endblock %} 
</head>

<body>
  <div class="navbar">
  <ul>
    <li><a class="active" href="/">Home</a></li>
    {% if user.is_authenticated %}
    <li><a href="../account/profile">Edit Profile</a></li>
    <div class="nav-right">
      <li><a href="../account/logout">Logout</a></li>
    </div>
    {% else %}
    <div class="nav-right">
      <li><a href="../account/login">Login</a></li>
    </div>
    {% endif %}
  </ul>
</div>
{% block content %}

{% endblock %} 
</body>

</html>